@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Roboto, sans-serif;
}

.screen {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
  min-height: 350px;
  padding: 15px 0;
  border-top: 1px solid #4773ff;
  border-bottom: 1px solid #4773ff;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  box-shadow: 0 2px 15px 0 rgba(57, 68, 71, 0.45);
  height: 95%;
  width: 50%;
  display: flex;
  background: #fff;

  flex-direction: column;
}

.modal-title {
  padding: 20px 20px 19px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-weight: 500;
  text-transform: uppercase;
  color: #30343b;
  overflow: hidden;
}

.modal-content {
  color: #343434;
  margin-bottom: auto;
}

.image-holder {
  background: black;
  width: 100%;
  height: 100%;
}

.image {
  height: 756px;
}
.image > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}

.buttons-bar {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-bar button {
  font-size: 13px;
  line-height: 14px;
  color: #fff;
  padding: 9px;
  width: 100%;
  background-color: #4773ff;
  justify-content: center;
  border: 1px solid rgba(48, 52, 59, 0.1);
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s ease;
}
