/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Roboto, sans-serif;
}

.screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
  min-height: 350px;
  padding: 15px 0;
  border-top: 1px solid #4773ff;
  border-bottom: 1px solid #4773ff;
}

.modal {
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  width: 360px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 15px 0 rgba(57, 68, 71, 0.45);
          box-shadow: 0 2px 15px 0 rgba(57, 68, 71, 0.45);
  background: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  right: 0;
  bottom: 10px;
}

.modal-title {
  padding: 20px 20px 19px;
  border-bottom: 1px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 13px;
  line-height: 20px;
  min-height: 60px;
  letter-spacing: 0.3px;
  font-weight: 500;
  text-transform: uppercase;
  color: #30343b;
  overflow: hidden;
  margin-bottom: auto;
}

.modal-content {
  min-height: calc(100% - 79px - 65px);
  color: #343434;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.image-holder {
  height: 60vh;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-holder img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.buttons-bar {
  margin-top: auto;

  padding: 20px 20px 19px;
  border-bottom: 1px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 13px;
  line-height: 20px;
  height: 60px;
  letter-spacing: 0.3px;
  font-weight: 500;
  text-transform: uppercase;
  color: #30343b;
  overflow: hidden;
}

.buttons-bar button {
  width: 100%;
  padding: 9px;
  position: relative;
  font-size: 13px;
  line-height: 14px;
  color: #fff;
  background-color: #4773ff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(48, 52, 59, 0.1);
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-width: 34px;
  z-index: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}